/* General Styling */

html,
body {
    font-family: sans-serif;
    margin: 0;
    padding-bottom: 40px;
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1707209856575-a80b9dff5524?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
    color: #333;
}



/* Header and Footer */
.navbar-image {
    max-width: 100px;
    height: auto;
}

header {
    background-color: #f0f0f0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: right;
    position: sticky;
    top: 0;
    z-index: 100;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;


}

footer {
    background-color: #333;
    color: #fff;
    padding: 8px;
    text-align: center;
    height: 40px;
    width: 100%;
    bottom: 0;
    position: fixed;
}

.navbar {
    width: 100%;
    padding: 10px;
}

.container-fluid {
    padding-left: 20px;
    padding-right: 20px;
}

header.sticky {
    background-color: rgba(240, 240, 240, 0.95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-slogan {
    display: flex;
    flex-direction: column;
}

nav ul {
    list-style: inside;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 10px;
}



/* Homepage Content Sections */
main {
    padding: 20px;
    flex: 1;
    display: grid;
    grid-gap: 20px;
    text-align: center;
}

main h2 {
    padding: 10px;
    font-size: 1.7em;
    font-family: "Merienda", cursive;
}

main p {
    padding: 10px;
}

.details p span {
    font-weight: bold;
}

/* Header Image  */
.featured-pet {
    grid-column: 1 / -1;
    /* Span all columns by default */
    position: relative;
    overflow: hidden;
}

.featured-pet .image-block img {
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 1.9s ease;
    height: 400px;
}

.featured-pet .details {
    position: absolute;
    top: 80%;
    left: 72%;
    transform: translate(-50%, -50%);
    width: 50%;
    color: black;
    font-family: "Merienda", cursive;
    box-sizing: content-box;
    text-align: right;
    border: none;
}

.featured-pet .details h2 {
    margin-top: 0;
    font-size: 1.9em;
}

.featured-pet:hover .image-block img {
    transform: scale(1.5);
    /* Hover effect */
}

.highlights,
.adoption,
.details,
.stories,
.team,
.thanks,
.faqs,
.services,
.contacts {
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 20px;
}

.image-block {
    text-align: center;
    overflow: hidden;
}

.image-block img,
.stories .story img,
.team .member img,
.thanks img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
    object-fit: cover;
}


/* Highlights */
.note {
    font-style: italic;
    font-weight: bold;
    font-family: "Merienda", cursive;
    font-size: .9em;
}

.highlights p {
    font-size: small;
}

/* Store Hours */
.details p {
    margin: auto;
}

.story p {
    text-align: right;
    font-size: small;
}

.member p {
    text-align: left;
    font-size: small;
}






/* Member & Customer Styles */
.stories p {
    padding-left: 20px;
}

.member p {
    padding-right: 20px;
}

.stories .story,
.team .member {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.stories .story img,
.team .member img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.thanks {
    font-family: "Merienda", cursive;
    font-weight: bolder;
    font-size: larger;
}

/*  Button Style */
main .button {
    background-color: rgb(88, 137, 88);
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}

main .button:hover {
    background-color: rgb(140, 185, 140);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}



/* About Page style */
.Letter h2 {
    padding-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Letter sup {
    font-size: 0.5em;
}

.Letter {
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    flex: 1;

}

.Letter img {
    border-radius: 40px !important;

    margin: 20px;
    align-self: center;
    max-width: 100%;
}



/* Adoption Page Style */
.pet-box {
    place-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.5s;
    /* Smooth scaling on hover */
}

.pet-box:hover {
    transform: scale(1.05);
    /* Scale up slightly on hover */

}

.pet-box img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.pet-box h3 {
    display: flex;
    justify-content: space-between;
    font-size: larger;
    font-weight: bold;
    align-items: center;
}

.pet-box h3 span.age {
    font-size: 0.7em;
    font-weight: normal;
    color: #777;
    margin: 15px;
}

.pet-info {
    display: none;
    margin-top: 10px;
}

.pet-info p {
    margin-bottom: 5px;
}

.pet-info strong {
    font-weight: bold;
}

.pet-container {
    display: grid;
    grid-gap: 20px;
}




/* Services Page Style */
.market {
    display: flex;
    flex: 1;
}



/* FAQs Page Style */

.page-header {
    padding-top: 30px;
    width: 80%;
    margin: auto;

    font-size: smaller;
}

.faq-container {
    margin: auto;
    width: 80%;
    flex: 1;
}

.faq-container h2 {
    font-weight: bold;
    font-family: "Merienda", cursive;

}

.faq-item {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 15px;
    cursor: pointer;
}

.faq-question {
    font-weight: bold;
    display: flex;
    justify-content: space-between;


}

.faq-answer {
    display: none;
    margin-top: 10px;
}

.faq-item.active .faq-answer {
    display: flex;
}

.faq-item.active .arrow {
    transform: rotate(180deg);
}

.arrow {
    transition: transform 0.3s ease;
}


/* Contact Form Style */
#contact-container {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    display: block;
    text-align: left !important;
    font-size: 1.2em;
    height: 100px;
    width: 500px;
    flex: 1;
}



/* Media Queries */


/* XS Phone */
@media (min-width: 300px) and (max-width: 430px) {
    .featured-pet details {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        color: white;
        box-sizing: content-box;
        text-align: center;
        border: none;
    }

    .pet-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-gap: 10px;
    }

    .pet-box {
        padding: 10px;
        font-size: 0.85em;
        margin: 5px;
    }

    .pet-box img {
        margin-bottom: 5px;
    }

    .pet-box h3 span.age {
        margin: 5px;
        font-size: 0.75em;
    }

    .pet-box h3 {
        font-size: 1.5em;
    }


    .adoption,
    .details,
    .stories,
    .team,
    .thanks,
    .faqs,
    .services,
    .contacts {
        padding: 10px;
        font-size: 0.9em;
    }

    .image-block img,
    .stories .story img,
    .team .member img,
    .thanks img,
    .services img,
    .contacts img {
        height: 150px;
    }

    .stories .story,
    .team .member {
        flex-direction: column;
        /* Stack story/team content vertically */
        align-items: flex-start;
        /* Align items to the start */
    }

    .stories .story img,
    .team .member img {
        margin-right: 0;
        margin-bottom: 5px;
        width: 50px;
        height: 50px;
    }


    #contact-container {
        height: 80vh;
        width: 80vw;
        align-self: center;

    }
}


/* Phone */
@media (max-width: 767px) {

    .pet-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-gap: 10px;
    }

    .pet-box {
        padding: 10px;
        font-size: 0.85em;
        margin: 5px;
    }

    .pet-box img {
        margin-bottom: 5px;
    }

    .pet-box h3 span.age {
        margin: 5px;
        font-size: 0.75em;
    }

    .pet-box h3 {
        font-size: 1.5em;
    }



    #contact-container {
        height: 80vh;
        width: 80vw;
        align-self: center;
    }

}



/* Tablet and Desktop */
@media (min-width: 768px) {

    .pet-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        /* Responsive columns */
        grid-template-rows: auto;
        grid-gap: 20px;
    }

    .pet-box {
        padding: 20px;
        font-size: 0.9em;
        margin: 10px;
    }

    .pet-box img {
        margin-bottom: 10px;
    }

    .pet-box h3 span.age {
        margin: 15px;
        font-size: 0.7em;
    }

    .pet-box h3 {
        font-size: 1.5em;
    }


}



/* Tablet */
@media (min-width: 768px) and (max-width: 1180px) {
    main {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columns on tablets */
        flex: 1;
        padding: 20px;
    }

    .featured-pet .image-block img {
        height: 350px;
    }
}

@media (min-width: 1024px) {

    /* Desktop and larger */
    main {
        grid-template-columns: repeat(3, 1fr);
        /* 3 columns on larger screens */
        flex: 1;
        padding: 20px;
    }

    .featured-pet .image-block img {
        height: 400px;
    }

    #contact-container {
        display: block;
        flex: 1;
        align-items: left !important;
        height: 80vh;




    }
}